<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% extends 'bootstrap/base.html' %}

{% block head %}
{{super()}}
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 {% endblock %}

{% block title %}
  {% if title %}
  {{ title }} - ICC4{% else %}Welcome to ICC4{% endif %}
{% endblock %}

{% block navbar %}
<a href="{{ url_for('main.index', _external=True) }}"><img src="{{ url_for('static',filename='icons/dart-logo-small.png', _external=True) }}" alt="ICC4"></a>
{% endblock %}

<div>
{% block content %}

  {% block app_content %}{% endblock %}

  {% block footer %}
  <div>
      <small><p>&copy; 2019 <a class="text-muted" href="http://icc4-darts.herokuapp.com">ICC4-darts</a></p></small>
  </div>
  {% endblock %}
{% endblock %}
</div>