<div>
    <a href="{{ url_for('main.index', _external=True) }}"><img src="{{ url_for('static',filename='icons/dart-logo-small.png', _external=True) }}" alt="ICC4"></a>
</div>

<div>
<h1>ICC4 Event summary</h1>
<h2>
    {{ match.date.strftime('%B %-d') }} against <b>{{ match.opponent.name }}</b> at {{ match.location }}.
</h2>
<h3>{{ match.team_score }} - {{ match.opponent_score }} {% if match.win %}WIN{% else %}LOSS{% endif %} {% if match.overtime %}in overtime{% endif %}</h3>

<p><b>Food: </b>{{ match.food }}</p>
<p>{{ match.match_summary }}</p>

<p><b>Top players:</b></p>
<ul>
    {% if performers['stars'] %}<li>Stars: {{ performers['stars'][0][1] }} - {% for p in performers['stars'][:-1] %}{{ p[0].nickname }}, {% endfor %}{{ performers['stars'][-1][0].nickname }}</li>{% endif %}
    {% if performers['hs'] %}<li>High Scores: {{ performers['hs'][0][1] }} - {% for p in performers['hs'][:-1] %}{{ p[0].nickname }}, {% endfor %}{{ performers['hs'][-1][0].nickname }}</li>{% endif %}
    {% if performers['ls'] %}<li>Low Scores: {{ performers['ls'][0][1] }} - {% for p in performers['ls'][:-1] %}{{ p[0].nickname }}, {% endfor %}{{ performers['ls'][-1][0].nickname }}</li>{% endif %}
</ul>

{% if match.match_stats %}
<p><b>Team performance:</b></p>
    <ul>
        <li>Doubles 701: {{ match.match_stats.wins_d7 }}/4</li>
        <li>Doubles 501: {{ match.match_stats.wins_d5 }}/4 with {{ match.match_stats.stars_d5 }} stars</li>
        <li>Singles 501: {{ match.match_stats.wins_s5 }}/8 with {{ match.match_stats.stars_s5 }} stars</li>
    </ul>
{% endif %}

<p><a href="{{ url_for('main.match', id=match.id, _external=True) }}">Click here</a> to view the complete match details.</p>

<p>Sincerely,</p>
<p>The ICC4 pub darts team</p>
</div>

<div>
  <small><p>&copy; 2019 ICC4-darts</p></small>
</div>
