<div>
    <a href="{{ url_for('main.index', _external=True) }}"><img src="{{ url_for('static',filename='icons/dart-logo-small.png', _external=True) }}" alt="ICC4"></a>
</div>

<div>
<h1>ICC4 Event reminder</h1>
<h3>{{ user.player.nickname }}</h3>
<p>
    You have an event coming up: 

    8p.m. on {{ match.date.strftime('%B %-d') }} against <b>{{ match.opponent.name }}</b> at {{ match.location }}.
</p>
{% if not status %}
<p><b>You have not checked-in.</b></p>
{% elif status.lower()=='none' %}
<p><b>You have not checked-in.</b></p>
{% else %}
<p>Currently you have checked-in as: 
<b>
{% if status.lower()=='in' %}IN
{% elif status.lower()=='out' %}OUT
{% elif status.lower()=='ifn' %}IF NEEDED
{% else %}NO RESPONSE
{% endif %}
</b></p>
{% endif %}
<p>Click the links below to update your status:<br>
<button type="button"><a role="button" href="{{ url_for('main.update_checkin', token=user.get_user_token(task='checkin', payload={'match':match.id,'player':user.player.id,'status':'in'}, expires_in=None), _external=True) }}">In</a></button>
<button type="button"><a role="button" href="{{ url_for('main.update_checkin', token=user.get_user_token(task='checkin', payload={'match':match.id,'player':user.player.id,'status':'out'}, expires_in=None), _external=True) }}">Out</a></button>
<button type="button"><a role="button" href="{{ url_for('main.update_checkin', token=user.get_user_token(task='checkin', payload={'match':match.id,'player':user.player.id,'status':'ifn'}, expires_in=None), _external=True) }}">If Needed</a></button>
</p>
<p>Sincerely,</p>
<p>The ICC4 pub darts team</p>
</div>

<div>
  <small><p>&copy; 2019 ICC4-darts</p></small>
</div>
