{% extends "base_email.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h2>Welcome to the ICC4 darts team!</h2>
<p>
    Thank you for registering with ICC4-darts. To finish setting up your account, please verify your email by
    <a href="{{ url_for('auth.verify_email', token=token, _external=True) }}">
        clicking here</a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.verify_email', token=token, _external=True) }}</p>
<p>This link will remain active for 24hrs.</p>
<p>If you have recieved this email in error simply ignore this message.</p>
<p>Sincerely,</p>
<p>The ICC4 pub darts team</p>

{% endblock %}