<div class="col-lg-4 mb-4">
    <div class="card h-100">
        <h4 class="card-header">Stars</h4>
        <div class="card-body">
            <table style="width:100%">
                {% for i in top_stars %}
                    <tr>
                        <td> {{ i.player.nickname }} </td>
                        <td> {{ i.total_stars }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Full leaderboard</a>
        </div>
    </div>
</div>
<div class="col-lg-4 mb-4">
    <div class="card h-100">
        <h4 class="card-header">High scores</h4>
        <div class="card-body">
            <table style="width:100%">
                {% for i in top_high_scores %}
                <tr>
                    <td> {{ i.player.nickname }} </td>
                    <td> {{ i.total_high_scores }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Full leaderboard</a>
        </div>
    </div>
</div>
<div class="col-lg-4 mb-4">
    <div class="card h-100">
        <h4 class="card-header">Low scores</h4>
        <div class="card-body">
            <table style="width:100%">
                {% for i in top_low_scores %}
                <tr>
                    <td> {{ i.player.nickname }} </td>
                    <td> {{ i.total_low_scores }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Full leaderboard</a>
        </div>
    </div>
</div>

