{% macro draw_leaderboard(leaderboard_card) %}
<div class="col-lg-4 mb-4">
    <div class="card h-100">
        <h4 class="card-header">{{leaderboard_card.name}}</h4>
        <div class="card-body">
            <table style="width:100%">
                {% for rows in leaderboard_card.get_list() %}
                <tr>
                    {% for i in rows %}
                        <td> {{ i }} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Full leaderboard</a>
        </div>
    </div>
</div>
{% endmacro %}
