<div class="match-card">
    {% if (match.win != None) or (current_user.is_anonymous) %}
    <a class="stretched-link" href="{{ url_for('main.match', id=match.id) }}"> </a>
    {% else %}
    <a class="stretched-link" href="{{ url_for('main.checkin') }}"> </a>
    {% endif %}
    <div class="team-avatar">
        <img src="{{ match.opponent.avatar(70) }}">
    </div>
    <div class="team-info">
        <b>
            {{ match.opponent.name }}
        </b>

        - {{ moment(match.date, local=True).format('ll') }}
        <br>
        {% if match.home_away == 'away' %}
        &emsp;at {{ match.opponent.home_location }}
        {% else %}
        &emsp;at Italian Canadian Club
        {% endif %}
        {% if match.win != None %}
        <h5>{% if match.win == True %}W{% else %}L{% endif %}&ensp;
            <small>{{ match.team_score }} - {{ match.opponent_score }}</small>
        </h5>
        {% else %}
        <h5>&ensp;</h5>
        {% endif %}
    </div>
</div>
