{% extends 'bootstrap/base.html' %}

{% block html_attribs %} lang="en"{% endblock %}

{% block head %}
{{ super() }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <style>
  .row:before, .row:after {
    display: block;
  }
  </style>
{% endblock %}

{% block title %}
  {% if title %}
  {{ title }} - ICC4{% else %}Welcome to ICC4{% endif %}
{% endblock %}

{% block navbar %}
<div class="container-fluid">
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="{{ url_for('main.index') }}"><img src="/static/icons/dart-logo-small.png" alt="ICC4" class="bg-light"></a>
  <!--<a class="navbar-brand mt-2 mr-auto" href="{{ url_for('main.index') }}">ICC4</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('main.index') }}">Home<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.news') }}">News</a>
      </li>

      <li class="nav-item dropdown">
          <a class="btn nav-link dropdown-toggle" href="{{ url_for('main.schedule') }}" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Schedule
          </a>
          
          <div id="scheduleDrop" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('main.schedule') }}">Current</a>
            {% if g.all_seasons %}
            {% for s in g.all_seasons %}
            <a class="dropdown-item" href="{{ url_for('main.schedule', id=s.id) }}">{{ s.season_name }}</a>
            {% endfor %}
            {% endif %}
          </div>
      </li>

      <li class="nav-item dropdown">
          <a class="btn nav-link dropdown-toggle" href="{{ url_for('main.roster') }}" role="button" id="dropdownTeam" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Team
          </a>
          
          <div id="teamDrop" class="dropdown-menu" aria-labelledby="dropdownTeam">
            <a class="dropdown-item" href="{{ url_for('main.roster') }}">Roster</a>
            <a class="dropdown-item" href="{{ url_for('main.leaderboard') }}">Leaderboards</a>
          </div>
      </li>

      <li class="nav-item dropdown">
          <a class="btn nav-link dropdown-toggle" href="{{ url_for('main.opponent') }}" role="button" id="dropdownLeague" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            League
          </a>
          
          <div id="teamDrop" class="dropdown-menu" aria-labelledby="dropdownLeague">
            <a class="dropdown-item" href="{{ url_for('main.opponent') }}">Opponents</a>
            <a class="dropdown-item" href="{{ url_for('main.standings') }}">Standings</a>
            <a class="dropdown-item" href="http://www.sentex.net/~pmartin/">GPD League</a>
          </div>
      </li>
    </ul>

    {% if g.search_form %}
      <form class="navbar-form navbar-left" method="get"
          action="{{ url_for('main.search') }}">
        <div class="form-group">
          {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
        </div>
      </form>
    {% endif %}
    <ul class="navbar-nav mt-2 mt-lg-0">
    {% if current_user.is_anonymous %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.checkin') }}">Checkin</a>
      </li>
      {% if current_user.check_role(['admin', 'captain', 'assistant']) %}
      <div class="dropdown-divider"></div>
      <li class="nav-item dropdown">
          <a class="btn nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Editing Tools</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('main.enter_score') }}">Enter scores</a>
            <a class="dropdown-item" href="{{ url_for('main.match_edit') }}">Match editor</a>
            <a class="dropdown-item" href="{{ url_for('main.player_edit') }}">Player editor</a>
            <a class="dropdown-item" href="{{ url_for('main.team_edit') }}">Team editor</a>
            <a class="dropdown-item" href="{{ url_for('main.season_edit') }}">Season editor</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.captain') }}">Captain's Portal</a>
      </li>
      {% endif %}
      {% if current_user.check_role(['admin']) %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.admin') }}">Admin</a>
      </li>
      {% endif %}
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
      </li>
    {% endif %}
    </ul>
  </div>
</nav>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category not in ['primary','secondary','light','dark','danger','warning','info','success'] %}
        {% set category = 'info' %}
        {% endif %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">{{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>  
      {% endfor %}
    {% else %}
    {% endif %}
  {% endwith %}
    
  {# application content needs to be provided in the app_content block #}
  {% block app_content %}{% endblock %}
  </div>
  
  {% block footer %}

  <div class="container-fluid pt-4">
    <nav class="navbar navbar-expand-md navbar-light bg-light">

      <div class="col-md-5 order-1 order-md-0 text-center">
        <ul class="navbar-nav float-md-left">
          <li class="nav-item">
            <small><a class="nav-link text-muted" href="http://icc4-darts.herokuapp.com">&copy; 2019 ICC4-darts</a></small>
          </li>
          <hr class="clearfix w-100 d-md-none">
          <li class="nav-item">
            <small><a class="nav-link text-dark" href="{{ url_for('main.schedule') }}">Schedule</a></small>
          </li>
          <li class="nav-item">
            <small><a class="nav-link text-dark" href="{{ url_for('main.leaderboard') }}">Leaderboard</a></small>
          </li>
          <li class="nav-item">
            <small><a class="nav-link text-dark" href="{{ url_for('main.opponent') }}">Opponents</a></small>
          </li>
          <li class="nav-item">
            <small><a class="nav-link text-dark" href="{{ url_for('main.standings') }}">Standings</a></small>
          </li>
        </ul>
      </div>

      <div class="mx-auto text-center col-md-2 order-0">
        <a class="mx-auto" href="{{ url_for('main.index') }}"><img src="/static/icons/dart-logo-small.png" alt="ICC4" class="bg-light"></a>
      </div>

      <hr class="clearfix w-100 d-md-none order-1">
  
      <div class="col-md-5 order-3 text-center">
        <ul class="navbar-nav float-md-right">
          <li class="nav-item">
            <small><a class="nav-link text-dark" href="http://www.sentex.net/~pmartin/">GPD League</a></small>
          </li>
          <li class="nav-item">
            <small><a class="nav-link text-dark" href="https://github.com/cpkm/darts-site">Contribute</a></small>
          </li>
          <li class="nav-item">
            <small><a class="nav-link text-dark" href="mailto:icc4darts+contact@gmail.com">Contact</a></small>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  {% endblock %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock %}