{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="card h-100">
  <h2 class="card-header">Match Checkin</h2>

  <div class="card-body" id="checkin">
    <div class="container-fluid table-responsive">
      {% if checked_matches %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Team</th>
            <th scope="col">Home/Away</th>
            <th scope="col">Checked In (IfN)</th>
            <th scope="col">Your Status</th>
          </tr>
        </thead>
        <tbody>
          {% for cm in checked_matches %}
          {% set ins,out,ifn = cm.match.get_checked_players() %}
          <div id="accordion">
          <tr>
            <th scope="row">{{ cm.match.date.strftime('%b %d') }}</th> 
            <td>{{ cm.match.opponent.name }}</td>
            <td>{{ cm.match.home_away }}</td>
            <td>{{ ins|length }} ({{ ifn|length }}) 
              <a role="button" class="btn btn-outline-info btn-sm" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapseOne">Roster</a>
            </td>
            <td>
              {% if cm.status == 'in'%}
              <a role="button" class="btn btn-success btn-sm">In</a>
              {% else %}
              <a role="button" class="btn btn-outline-success btn-sm" href="{{ url_for('main.update_checkin', player_id=current_user.player.id, match_id=cm.match_id, status='in', token=current_user.get_user_token(task='checkin')) }}">In</a>
              {% endif %}

              {% if cm.status == 'out'%}
              <a role="button" class="btn btn-danger btn-sm">Out</a>
              {% else %}
              <a role="button" class="btn btn-outline-danger btn-sm" href="{{ url_for('main.update_checkin', player_id=current_user.player.id, match_id=cm.match_id, status='out', token=current_user.get_user_token(task='checkin')) }}">Out</a>
              {% endif %}

              {% if cm.status == 'ifn'%}
              <a role="button" class="btn btn-warning btn-sm">If Needed</a>
              {% else %}
              <a role="button" class="btn btn-outline-warning btn-sm" href="{{ url_for('main.update_checkin', player_id=current_user.player.id, match_id=cm.match_id, status='ifn', token=current_user.get_user_token(task='checkin')) }}">If Needed</a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <div id="collapse{{loop.index}}" class="collapse hide" aria-labelledby="heading{{loop.index}}" data-parent="#accordion">
                <div class="card-body bg-light">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">In</th>
                        <th scope="col">Out</th>
                        <th scope="col">If Needed</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{% for pmc in ins %}{{ pmc.player.nickname }}<br>{% endfor %}</td>
                        <td>{% for pmc in out %}{{ pmc.player.nickname }}<br>{% endfor %}</td>
                        <td>{% for pmc in ifn %}{{ pmc.player.nickname }}<br>{% endfor %}</td>                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </tr>
          </div>
          {% endfor %}

        </tbody>
      </table>
      {% else %}
      <p>You have no upcoming matches</p>
      {% endif %}
    </div>
  </div>
    
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(function(){
  var hash = window.location.hash;
  hash && $('ul.nav a[href="' + hash + '"]').tab('show');

  $('.nav-tabs a').click(function (e) {
    $(this).tab('show');
    var scrollmem = $('body').scrollTop() || $('html').scrollTop();
    window.location.hash = this.hash;
    $('html,body').scrollTop(scrollmem);
  });
});
</script>
{% endblock %}
