{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1>Team Edit</h1>
  <br>
  <div class="row">
    <div class="col-md-5 mt-4"><h2>Add/Edit team</h2>
      <h4 class="text-center text-muted">{% if team %}{{ team.name }}{% else %}&nbsp;{% endif %}</h4>
      <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.name) }}
        {{ wtf.form_field(form.home_location) }}
        {{ wtf.form_field(form.address) }}
        {{ wtf.form_field(form.submit_new, button_map={'submit_new': 'primary my-1 btn-block'}) }}
        {{ wtf.form_field(form.submit_edit, button_map={'submit_edit': 'info my-1 w-40'}) }}
        {{ wtf.form_field(form.submit_delete, button_map={'submit_delete': 'danger my-1 w-40'}) }}
      </form>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 mt-2 mx-auto">
      <div class="card h-100">
        <h2 class="card-header">All teams</h2>
        <div class="card-body">
          <ul class="list-unstyled">
          {% for t in all_teams %}
          <li><a href="{{ url_for('main.team_edit', name=t.name) }}">{{ t.name }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}