{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
	<h1>Enter game score</h1>
	<br>
		<div class="col-md-6">
			<form class="form" method="post" role="form">
				{{ form.hidden_tag() }}
				{{ wtf.form_errors(form, hiddens="only") }}

				<div class="form-row">
					<div class="form-group col-xs-3 mb-0">
						<input type="text" readonly class="form-control-plaintext" id="game_type" value="701 doubles">
					</div>
					<div class="form-group col-xs-3 mb-0">
						<div class="checkbox">
							<label class="form-check-label">
						  <input class="form-check-input" for="win" type="checkbox" value="" id="win" name="win">
						  {{ form.win.label.text }}</label>
						</div>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-xs-10 mb-1">
						<select class="form-control form-control-sm" name="p1" id="p1" placeholder="Dummy">
							{% for choice in form.p1.choices %}
							{% if choice[0] == form.p1.default %}
							<option selected value="{{ choice[0] }}">{{ choice[1] }}</option>
							{% else %}
							<option value="{{ choice[0] }}">{{ choice[1] }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="form-group col-xs-2 mb-1">
						<select class="form-control form-control-sm" name="p1_star" id="p1_star">
						{% for choice in form.p1_stars.choices %}
						<option value="{{ choice[0] }}">{{ choice[1] }}</option>
						{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-xs-10 mb-1">
						<select class="form-control form-control-sm" name="p2" id="p2" placeholder="Dummy">
							{% for choice in form.p2.choices %}
							{% if choice[0] == form.p2.default %}
							<option selected value="{{ choice[0] }}">{{ choice[1] }}</option>
							{% else %}
							<option value="{{ choice[0] }}">{{ choice[1] }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="form-group col-xs-2 mb-1">
						<select class="form-control form-control-sm" name="p2_star" id="p2_star">
						{% for choice in form.p2_stars.choices %}
						<option value="{{ choice[0] }}">{{ choice[1] }}</option>
						{% endfor %}
						</select>
					</div>
				</div>

			</form>
		</div>
	</div>
{% endblock %}