{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% from "_leaderboard.html" import draw_leaderboard with context %}

{% block head %}
{{ super() }}
<style CSS>
@media (min-width:256px) {
    .card-columns {
      column-count: 3;
    }
}
@media (min-width:576px) {
    .card-columns {
      column-count: 3;
    }
}
  @media (min-width:768px) {
    .card-columns {
      column-count: 4;
    }
}
@media (min-width:992px) {
    .card-columns {
      column-count: 2;
    }
}
@media (min-width:1200px) {
    .card-columns {
      column-count: 3;
    }
}
</style>
<style type="text/css">
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
</style>
{% endblock %}

{% block app_content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to ICC4 darts</h1>
    <p class="lead">Home of the best team in the <a class="text-muted" target="_blank" href="http://www.sentex.net/~pmartin/">Guelph Pub Darts League!</a></p>
  </div>
</div>

<div class="row">

  <div class="col-lg-8">
    <div class="col">
      {% if news %}
      <h2 class="my-4"><a class="text-dark" href="{{ url_for('main.news') }}">News</a></h2>
      <div id="carouselNews" class="carousel slide" data-ride="carousel">
        
        <div class="carousel-inner overflow-auto">
          <div style="height: 200px;" class="carousel-item active">
            <div class="row">
            <div class="col-1"></div>
            <div class="col-10 justify-content-center">
              {% with n = news[0] %}
              {% include '_news.html' %}
              {% endwith %}
            </div>
            <div class="col-1"></div>
          </div>
        </div>
          {% for n in news[1:] %}
          <div style="height: 200px;" class="carousel-item">
            <div class="row">
            <div class="col-1"></div>
            <div class="col-10 justify-content-center">
            {% include '_news.html' %}
            </div>
            <div class="col-1"></div>
          </div>
        </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselNews" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselNews" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      {% endif %}

    </div>

    <div class="col">
      <h2 class="my-4"><a class="text-dark" href="{{ url_for('main.schedule') }}">Schedule</a></h2>
      <h4 class="text-dark">Last match</h4>
      {% if last_match %}
      {% with match = last_match %}
        {% include '_match.html' %}
      {% endwith %}
      {% endif %}
      <br>
      <h4 class="text-dark">Upcoming matches</h4>
      {% for match in schedule %}
        {% include '_match.html' %}
      {% endfor %}
      <nav aria-label="...">
        <ul class="pager">
          <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
              <span aria-hidden="true">&larr;</span>Nearer
            </a>
          </li>
          <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
              Further<span aria-hidden="true">&rarr;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col">
    <h2 class="my-4"><a class="text-dark" href="{{ url_for('main.leaderboard') }}">Season Leaderboards</a></h2>
      <div class="row">
          {% for card in leader_board_list %}
              {{  draw_leaderboard(card)  }}
          {% endfor %}
      </div>
    </div>

  </div>

  <div class="col-lg-4">
  <h2 class="my-4 text-dark">Current Roster</h2>
    <div class="card-columns">
    {% for player in all_players %}
    <!-- <li><a href="{{ url_for('main.player', nickname=player.nickname) }}">{{ player.nickname }}</a></li> -->
    {% include '_player.html' %}
    {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
