{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="container">
  <div class="card">
    <h2 class="card-header">Player Statisitics</h2>
    <div class="form-group form-inline pt-2 px-2 pb-0">
    <h5>Season</h5>
      <div class="dropdown px-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="selection">{% if year_str=='all time' %}All Time{% else %}{{ year_str }}{% endif %}</span>  
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <a class="dropdown-item" href="/leaderboard" value="all time">All Time</a>
          {% for s in g.all_seasons %}
            <a class="dropdown-item" href={{  '/leaderboard/' + s.season_name.replace('/','-')  }}>{{   s.season_name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="card-body table-responsive pt-0">
      <table id="pStats" class="table table-hover text-center">
        <thead>
          <tr>
            <th scope="col">Player</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Matches played">MP</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Games played">GP</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Game wins">GW</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Game losses">GL</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Game Win Percentage">GW%</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Win:Loss">W:L</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Total Stars">TS</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Total High Scores">HS</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Total Low Score">LS</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Stars per game">SpG</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="High scores per game">HpG</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Low scores per game">LpG</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="High:Low scores">Hi:Lo</th>
        </thead>
        <tbody>
          {% for s in stats %}
          {% if s.player %}
          <tr>
            <th scope="row"><a href="{{ url_for('main.player', nickname=s.player.nickname) }}">{{ s.player.nickname }}</a></th>
            <td>{{ s.matches_played }}</td>
            <td>{{ s.games_played }}</td>
            <td>{{ s.games_won }}</td>
            <td>{{ s.games_lost }}</td>
            <td>{% if s.games_played > 0 %}{{ '%0.0f'| format(100*(s.games_won/s.games_played)|float) }}{% endif %}</td>
            <td>{% if s.games_lost > 0 %}{{ (s.games_won/s.games_lost)|round(1, 'common') }}{% endif %}</td>
            <td>{{ s.total_stars }}</td>
            <td>{{ s.total_high_scores }}</td>
            <td>{{ s.total_low_scores }}</td>
            <td>{% if s.games_played > 0 %}{{ (s.total_stars/s.games_played)|round(1, 'common') }}{% endif %}</td>
            <td>{% if s.games_played > 0 %}{{ (s.total_high_scores/s.games_played)|round(1, 'common') }}{% endif %}</td>
            <td>{% if s.games_played > 0 %}{{ (s.total_low_scores/s.games_played)|round(1, 'common') }}{% endif %}</td>
            <td>{% if s.total_low_scores  > 0 %}{{ (s.total_high_scores/s.total_low_scores)|round(1, 'common') }}{% endif %}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% if board %}
  {% if board=='stars' %}
    {% set lb = 7 %}
  {% elif board=='high scores' %}
    {% set lb = 8 %}
  {% elif board=='low scores' %}
    {% set lb = 9 %}
  {% else %}
    {% set lb = 3 %}
    {% endif %}
{% else %}
{% set lb = 3 %}
{% endif %}
<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>


<script>
$(document).ready( function () {
    $('#pStats').DataTable({
    "paging": false,
    "order": [[ "{{ lb }}", "desc" ]]
  });
} );
</script>
{% endblock %}
