{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
  
</div>


<div class="col-12 mt-2 mx-auto">
  <div class="card h-100">
    <h2 class="card-header">{{ match.opponent.name }}</h2>
    <div class="card-body col-xs-12">
      {% if match.win==None %}
      <h4 class="card-title">{{ match.date.strftime('%d-%b %Y') }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">Against <a class="font-weight-bold text-uppercase">{{ match.opponent.name }}</a> at {{ match.opponent.home_location }} ({{ match.home_away }})</h6>
      <p>Scores have not been entered for this match.</p>
      {% else %}
      <div class="col-xs-12 col-md-6">
        <h4 class="card-title">{{ match.date.strftime('%d-%b %Y') }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Against <a class="font-weight-bold text-uppercase">{{ match.opponent.name }}</a> at {{ match.location }} ({{ match.home_away }})</h6>
        <p class="h5 font-weight-bold text-uppercase">{{ match.team_score }} - {{ match.opponent_score }} &emsp;
        {% if match.win %}Win
        {% else %}Loss{% endif %}</p>
        <p>We ate {{ match.food }}</p>
        <p>{{ match.match_summary }}</p>
      </div>

      <div class="card-group col-xs-12 col-md-6">
        <div class="card text-center">
          <div class="card-header">
            Doubles
          </div>
          <div class="card-body">
            <a class="h2 card-title">{{ match.match_stats.wins_d7 + match.match_stats.wins_d5 }}</a><a class="card-text">/8</a><br>
            <p class="h4 card-title">{{ match.match_stats.stars_d7 + match.match_stats.stars_d5 }}<i class="fa fa-star text-warning"></i></p>
          </div>
        </div>

        <div class="card text-center">
          <div class="card-header">
            Singles
          </div>
          <div class="card-body">
            <a class="h2 card-title">{{ match.match_stats.wins_s5 }}</a><a class="card-text">/8</a><br>
            <p class="h4 card-title">{{ match.match_stats.stars_s5 }}<i class="fa fa-star text-warning"></i></p>
          </div>
        </div>
      </div>
        <table class="table table-hover">
        </table>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
