{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container-fluid">
  <table class="table">
    <tr>
      <td style="width: 200px"><img src="{{ player.avatar(256) }}" class="img-fluid"></td>
      <td>
        <h1>{{ player.nickname }}</h1>
        <h3>{{ player.first_name }} {{ player.last_name }}</h3>
        {% if player.last_match %}<p>Last match: <a href="{{ url_for('main.match',id=player.last_match_id) }}">{{ moment(player.last_match.date, local=True).format('LL') }} vs. {{ player.last_match.opponent.name }}</a></p>{% endif %}
        {% if player.first_match %}<p>Active since: <a href="{{ url_for('main.match',id=player.first_match_id) }}">{{ moment(player.first_match.date, local=True).format('LL') }}</a></p>{% endif %}
      </td>
    </tr>
  </table>

  <h4>Recent matches</h4>
  {% for match in matches %}
    {% include '_match.html' %}
  {% endfor %}

  <nav aria-label="...">
    <ul class="pager">
      <li class="previous{% if not prev_url %} disabled{% endif %}">
        <a href="{{ prev_url or '#' }}">
          <span aria-hidden="true">&larr;</span> Newer matches
        </a>
      </li>
      <li class="next{% if not next_url %} disabled{% endif %}">
        <a href="{{ next_url or '#' }}">
          Older matches <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="card">
  <h2 class="card-header">Player Statistics</h2>
  <div class="card-body table-responsive">
    <table id="pStats" class="table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">Season</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Matches played">MP</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Match wins">MW</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Match losses">ML</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Games played">GP</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Game wins">GW</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Game losses">GL</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Total Stars">TS</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Total High Scores">HS</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Total Low Score">LS</th>
      </thead>
      <tbody>
        {% for season in seasons %}
        <tr>
          <th scope="row">{{ season.season.season_name }}</th>
          <td>{{ season.matches_played }}</td>
          <td>{{ season.matches_won }}</td>
          <td>{{ season.matches_lost }}</td>
          <td>{{ season.games_played }}</td>
          <td>{{ season.games_won }}</td>
          <td>{{ season.games_lost }}</td>
          <td>{{ season.total_stars }}</td>
          <td>{{ season.total_high_scores }}</td>
          <td>{{ season.total_low_scores }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr class="font-weight-bold">
          <td>Total:</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="card mt-2">
  <h2 class="card-header">Partner Statistics</h2>
  <div class="card-body table-responsive">
    <table id="partnerStats" class="table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">Partner</th>
          <th scope="col">#</th>
          <th scope="col">701</th>
          <th scope="col">501</th>
      </thead>
      <tbody>
        {% for p,n in partners.items() %}
        <tr>
          <th scope="row"><a href="{{ url_for('main.player', nickname=p) }}">{{ p }}</a></th>
          <td>{{ n['701']|length + n['501']|length }}</td>
          <td><a data-toggle="collapse" href="#Collapse701{{loop.index}}" role="button" aria-expanded="false" aria-controls="Collapse701{{p}}">{{ n['701']|length }}</a>
          <div colspan="2" class="collapse multi-collapse" id="Collapse701{{loop.index}}">
            <div class="card card-body">
              {% for g in n['701'] %}<li style="list-style: none;"><a href="{{ url_for('main.match', id=g.match.id)}}">{{ g.match.date }}</a></li>{% endfor %}
            </div>
          </div></td>
          <td><a data-toggle="collapse" href="#Collapse501{{loop.index}}" role="button" aria-expanded="false" aria-controls="Collapse501{{p}}">{{ n['501']|length }}</a>
          <div colspan="2" class="collapse multi-collapse" id="Collapse501{{loop.index}}">
            <div class="card card-body">
              {% for g in n['501'] %}<li style="list-style: none;"><a href="{{ url_for('main.match', id=g.match.id)}}">{{ g.match.date }}</a></li>{% endfor %}
            </div>
          </div></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/api/sum().js"></script>
<script>
$(document).ready( function () {
  $('#pStats').DataTable({
    "order": [[ 0, "desc" ]],
    "paging": false,
    drawCallback: function () {
      var api = this.api();
      for (i = 1; i < 10; i++) {
        $( api.column(i).footer() ).html(
          api.column( i, {page:'current'} ).data().sum()
        );
      }
    }
  });
} );
</script>
<script>
$(document).ready( function () {
  $('#partnerStats').DataTable({
    "order": [[ 1, "desc" ]],
    "paging": false,
    "rowCallback": function( row, data, index ) {
                if (data["1"] <= 0) {
                    $(row).hide();
                }
    }
  });
} );
</script>



{% endblock %}
