{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="col-12 mt-2 mx-auto">
  <div class="card h-100">
    <h2 class="card-header">Player Profile</h2>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="player-tab" data-toggle="tab" href="#player" role="tab" aria-controls="player" aria-selected="false">Player</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="checkin-tab" data-toggle="tab" href="#checkin" role="tab" aria-controls="checkin" aria-selected="false">Checkin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="col-12 mt-2 mx-auto">
          <h4>Account details</h4>
          <p>Email: {{ current_user.email }}</p>
          <p>Role: {{ current_user.role }}</p>
        </div>    
      </div>
      <div class="tab-pane" id="player" role="tabpanel" aria-labelledby="player-tab">
        <div class="container">
            <div class="row">
                <div class="col-6 mt-2 mx-auto">
                {% if not current_user.player %}
                    <p>You have not selected a player. Either claim yourself from the dropdown menu, or complete the form to the right:</p>
                    <form class="form" method="post" role="form">
                        {{ claim_form.hidden_tag() }}
                        {{ wtf.form_errors(claim_form, hiddens="only") }}

                        {{ wtf.form_field(claim_form.player) }}
                        {{ wtf.form_field(claim_form.submit_claim, button_map={'submit_claim': 'info my-1'}) }}
                    </form>
                {% else %}
                    <p>You may edit your player details using the form on the right.</p>
                    <h5>Playername: {{ current_user.player.nickname }}</h5>
                    <p>First name: {{ current_user.player.first_name }}</p>
                    <p>Last name: {{ current_user.player.last_name }}</p>
                    <p>Active: {% if current_user.player.is_active %}Yes{% else %}No{% endif %}</p>
                    <p>Player page: <a href="{{ url_for('main.player', nickname=current_user.player.nickname) }}">link</a></p>
                {% endif %}
                </div>
                <div class="col-6 mt-2 mx-auto">
                    <form class="form" method="post" role="form">
                        {{ player_form.hidden_tag() }}
                        {{ wtf.form_errors(player_form, hiddens="only") }}

                        {{ wtf.form_field(player_form.nickname) }}
                        {{ wtf.form_field(player_form.first_name) }}
                        {{ wtf.form_field(player_form.last_name) }}

                        {% if current_user.player %}
                        {{ wtf.form_field(player_form.submit_edit, button_map={'submit_edit': 'info my-1 btn-block'}) }}
                        {% else %}
                        {{ wtf.form_field(player_form.submit_new, button_map={'submit_new': 'primary my-1 btn-block'}) }}
                        {% endif %}
                      </form>
                </div>
            </div>
        </div>
      </div>
      <div class="tab-pane" id="checkin" role="tabpanel" aria-labelledby="checkin-tab">
        <div class="container m-2">
          {% if checked_matches %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Team</th>
                <th scope="col">Home/Away</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for cm in checked_matches %}
              <tr>
                <th scope="row">{{ cm.match.date.strftime('%b %d') }}</th> 
                <td>{{ cm.match.opponent.name }}</td>
                <td>{{ cm.match.home_away }}</td>
                <td>
                  {% if cm.status == 'in'%}
                  <a role="button" class="btn btn-success btn-sm">In</a>
                  {% else %}
                  <a role="button" class="btn btn-outline-success btn-sm" href="{{ url_for('main.checkin', player_id=current_user.player.id, match_id=cm.match_id, status='in') }}">In</a>
                  {% endif %}

                  {% if cm.status == 'out'%}
                  <a role="button" class="btn btn-danger btn-sm">Out</a>
                  {% else %}
                  <a role="button" class="btn btn-outline-danger btn-sm" href="{{ url_for('main.checkin', player_id=current_user.player.id, match_id=cm.match_id, status='out') }}">Out</a>
                  {% endif %}

                  {% if cm.status == 'ifn'%}
                  <a role="button" class="btn btn-warning btn-sm">If Needed</a>
                  {% else %}
                  <a role="button" class="btn btn-outline-warning btn-sm" href="{{ url_for('main.checkin', player_id=current_user.player.id, match_id=cm.match_id, status='ifn') }}">If Needed</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>You have no upcoming matches</p>
          {% endif %}
        </div>
      </div>
      <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <div class="container m-2">
          <p>To change your account email, please contact the site administrator.</p>
          <p>To change your password, <a href="{{ url_for('auth.reset_password', token=current_user.get_user_token(task='reset_password', expires_in=10)) }}">Click Here</a>.</p>
        </div>
      </div>      
    </div>




  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(function(){
  var hash = window.location.hash;
  hash && $('ul.nav a[href="' + hash + '"]').tab('show');

  $('.nav-tabs a').click(function (e) {
    $(this).tab('show');
    var scrollmem = $('body').scrollTop() || $('html').scrollTop();
    window.location.hash = this.hash;
    $('html,body').scrollTop(scrollmem);
  });
});
</script>
{% endblock %}
