{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">

  <div class="col-md-3">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              All seasons
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <table class="table table-hover">
            
            {% for season in all_seasons %}
              <tr>
                <td>
                <a href="{{ url_for('main.schedule', id=season.id) }}">{{ season.season_name }}</a>
              </td>
              </tr>
            {% endfor %}
            </table>
            <hr>
            <a href="{{ url_for('main.season_edit') }}">Add new season</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="card h-100">
      <div class="card-header">Current season</div>
      <div class="card-body">
        {% if season %}
        <h4 class="card-title">Season {{ season.season_name }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">From {{ season.start_date.strftime('%d-%b %Y') }} to {{ season.end_date.strftime('%d-%b %Y') }}</h6>
        {% endif %}
        <div class="table">
        {% for match in matches %}
          {% include '_match.html' %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
 
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
});
</script>

<script>
  $(window).on("load resize",function(e){
  if(window.outerWidth < 767){
    $('#collapseOne').collapse('hide');
    
  } else {
  $('#collapseOne').collapse('show');    
  }
});
</script>
{% endblock %}
